<template>
  <q-btn
    :label="label"
    :icon="icon"
    :icon-right="iconRight"
    :dense="dense"
    @click="$emit('click')"
    v-bind="$attrs"
    :type="type"
    :color="color"
  >
    <slot name="content"></slot>
  </q-btn>
</template>

<script>
export default {
  props: {
    label: String,
    icon: String,
    iconRight: String,
    dense: {
      type: Boolean,
      default: false
    },
    type: String,
    color: String
  }  
}
</script>