<template>
  <div
    :class="[ computedGutter ]"
  >
    <Button
      ref="yes"
      :square="square"
      :color="yesColor"
      :size="yesSize"
      :icon="yesIcon"
      :label="yesLabel"
      :loading="loading"
      @click="$emit('onYes', $event)"
    >
    </Button>
    <Button
      v-close-popup
      @click="$emit('onNo', $event)"
      :square="square"
      :size="noSize"
      :icon="noIcon"
      :label="noLabel"
      v-if="!loading"
      >
    </Button>
  </div>
</template>

<script>
export default {
  props: {
    square: Boolean,
    yesColor: String,
    yesSize: String,
    yesIcon: String,
    yesLabel: String,
    loading: Boolean,
    noSize: String,
    noLabel: String,
    noIcon: String,
    gutter: String
  },
  components: {
    Button: () => import('components/buttons')
  },
  computed: {
    computedGutter () {
      return `q-gutter-${this.gutter}`
    }
  },
  mounted () {
    this.$refs.yes.$el.focus()
  }
}
</script>