<template>
  <q-form @submit.prevent="onSubmit" class="full-width">
    <div class="row q-gutter-y-sm">
      <q-input filled v-model="date" mask="date" :rules="['date']">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy cover transition-show="scale" transition-hide="scale">
              <q-date v-model="dateTime">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <slot name="form-action"></slot>
  </q-form>
</template>

<script>

import { mapGetters } from 'vuex'
import { hideLoading, showLoading } from 'src/utils/loading'

export default {
  data () {
    return {
      moduleName: LOCATION,
      model: {
        active: true
      }
    }
  },
  computed: {
    ...mapGetters('Auth', ['user']),
    computedLabel () {
      return this.model.active ? 'Active' : 'Inactive'
    }
  },
  methods: {
    onSubmit() {
      let data = { ...this.model }

      this.$emit('onSubmit', data)
    },
    onMountData () {
      showLoading('Loading data...')
      let data = { ...this.data }
      data.id = data._id
      data.module = this.moduleName

      return this.$store.dispatch('Timelog/find', data)
      .then(result => {
        if (result)
          this.model = { ...result.data }
          hideLoading()
      })
      .catch(err => {
        hideLoading()
        errorMessage([], err)
      })
    }
  },
  mounted () {
    this.onMountData()
  },
}
</script>