<template>
  <div class="q-pa-xl">
    <div>
      <QButton
        no-caps
        color="secondary"
        label="Create"
        @click="clickCreate"
      />
    </div>
    <q-table
      title="Approvals"
      :data="rows"
      :columns="columns"
      row-key="_id"
      :pagination.sync="pagination"
      hide-pagination
      v-if="role.accessLevel == 1"
    >
     <template v-slot:body-cell-actions="props">
        <q-td
          :props="props"
        >
         <QButton
            no-caps
            color="secondary"
            label="Approve"
            @click="Approve(props.row)"
          />
        </q-td>
      </template>
    </q-table>
    <div class="row justify-center q-mt-md" v-if="role.accessLevel == 1">
      <q-pagination
        v-model="pagination.page"
        color="grey-8"
        :max="pagesNumber"
        size="sm"
      />
    </div>
    <q-table
      title="Time Logs"
      :data="timelogRows"
      :columns="timelogColumns"
      row-key="name"
      :pagination.sync="pagination"
      hide-pagination
      class="q-mt-xl"
    >
      <template v-slot:body-cell-actions="props">
        <q-td
          :props="props"
        >
         <QButton
            no-caps
            color="secondary"
            label="Edit"
            @click="Edit(props.row)"
            v-if="props.row.user._id == user._id"
          />
        </q-td>
      </template>
    </q-table>
    <div class="row justify-center q-mt-md">
      <q-pagination
        v-model="pagination.page"
        color="grey-8"
        :max="pagesNumber"
        size="sm"
      />
    </div>
    <q-dialog v-model="ShowCreateorEdit" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{isEdit ? 'Update Time Log' : 'Create Time Log'}}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p>Time In</p>
          <q-input filled v-model="model.timeIn" mask="datetime" :rules="['datetime']">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="model.timeIn">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p>Time Out</p>
          <q-input filled v-model="model.timeOut" mask="datetime" :rules="['datetime']">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="model.timeOut">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn @click="addLog" flat :label="isEdit ? 'Edit Log' : 'Add Log'" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import QButton from 'components/buttons'
import { showSuccessNotify } from 'src/utils/notification'
import moment from 'moment';

export default {
  components: {
    QButton
  },
  data () {
    return {
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      timelogPagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      sort: '',
      model: {},
      
      ShowCreateorEdit: false,

      columns: [
        {
          name: 'full_name',
          required: true,
          label: 'Full Name',
          align: 'left',
          field: row => row.fullName,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'actions',
          field: 'actions',
          align: 'center'
        }
      ],

      timelogColumns: [
        {
          name: 'full_name',
          required: true,
          label: 'Full Name',
          align: 'left',
          field: row => row.user.fullName,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'role',
          required: true,
          label: 'Role',
          align: 'left',
          field: row => row.user.role.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'timeIn',
          field: 'timeIn',
          label: 'Time In',
          align: 'center',
          format: val => this.formatData(val)
        },
        {
          name: 'timeOut',
          field: 'timeOut',
          label: 'Time Out',
          align: 'center',
          format: val => this.formatData(val)
        },
        {
          name: 'actions',
          field: 'actions',
          align: 'center'
        }
      ],

      isEdit: false,

      rows: [],
      timelogRows: []
    }
  },

  computed: {
    ...mapGetters('Auth', ['role', 'user']),
    pagesNumber () {
      return Math.ceil(this.rows.length / this.pagination.rowsPerPage)
    }
  },
  created(){
    this.getData()
  },
  methods: {
    Approve(params){
      this.$store.dispatch(`User/approvedUser`, {id: params._id}).then((res) => {
        this.rows = this.rows.filter(x => {
          return x._id != params._id;
        })
        showSuccessNotify(`${params.fullName} successfully approved!`)
      })
    },
    fetchTimelogData(){
      let skip = 0
      let { page, sortBy, descending, rowsPerPage } = this.timelogPagination

      let sort = this.sort || ''

      skip = (page - 1) * rowsPerPage

      let params = {
        limit: rowsPerPage,
        sort: sort,
        skip,
        sortBy,
        desc: descending
      }
      this.$store.dispatch('Timelog/paginate', params).then((res) => {
        this.timelogRows = res.data.data
      })
    },
    fetchUserData(){
      let skip = 0
      let { page, sortBy, descending, rowsPerPage } = this.pagination

      let sort = this.sort || ''

      skip = (page - 1) * rowsPerPage

      let params = {
        limit: rowsPerPage,
        sort: sort,
        skip,
        sortBy,
        desc: descending
      }
      this.$store.dispatch('User/forApprovalUser', params).then((res) => {
        this.rows = res.data.data
      })
    },
    getData(){
      if(this.role.accessLevel == 1){
        this.fetchUserData()
        this.fetchTimelogData()
      }else{
        this.fetchTimelogData()
      }
    },
    clickCreate(val = true){
      this.ShowCreateorEdit = val
    },
    addLog(){
      if(!this.isEdit){
        this.$store.dispatch('Timelog/create', this.model).then((res) => {
          this.model = {}
          this.ShowCreateorEdit = false
          this.getData()
        })
      }else{
        this.$store.dispatch('Timelog/update', {id: this.model._id}).then((res) => {
          this.ShowCreateorEdit = false
          this.isEdit = false
          this.model = {}
          this.getData()
        })
      }
    },
    formatData(val){
      return moment(String(val)).format('MM/DD/YYYY hh:mm')
    },
    Edit(row){
      this.$store.dispatch('Timelog/find', {id: row._id}).then((res) => {
        let result = res.data
        this.ShowCreateorEdit = true
        this.isEdit = true
        this.model.timeIn = this.formatData(result.timeIn)
        this.model.timeOut = this.formatData(result.timeOut)
      })
    }
  }
}
</script>
