<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex bg-image flex-center">
        <q-card v-bind:style="$q.screen.lt.sm?{'width': '80%'}:{'width':'30%'}">
          <q-card-section>
            <q-avatar size="103px" class="absolute-center shadow-10">
              <img src="profile.svg">
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">
                {{isRegister ? 'Register' : 'Log in'}}
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form
              class="q-gutter-md"
              v-if="!isRegister"
            >
            
              <span class="text-h12 text-red-10 text-center" v-if="errorMsg">{{errorMsg}}</span>

              <q-input
                filled
                v-model="model.username"
                label="Username"
                lazy-rules
              />

              <q-input
                type="password"
                filled
                v-model="model.password"
                label="Password"
                lazy-rules
              />

              <div>
                <q-btn label="Sign up" @click="register" type="button" color="secondary"/>
                <q-btn label="Login" @click="login" type="button" color="primary" class="float-right"/>
              </div>
            </q-form>
            <q-form
              class="q-gutter-md"
              v-else
            >
            
              <span class="text-h12 text-red-10 text-center" v-if="errorMsg">{{errorMsg}}</span>

              <q-input
                filled
                v-model="model.firstName"
                label="First Name"
                lazy-rules
              />

              <q-input
                filled
                v-model="model.middleName"
                label="Middle Name"
                lazy-rules
              />

              <q-input
                filled
                v-model="model.lastName"
                label="Last Name"
                lazy-rules
              />

              <q-input
                filled
                v-model="model.email"
                label="Email"
                lazy-rules
              />

              <q-input
                filled
                v-model="model.username"
                label="Username"
                lazy-rules
              />

              <q-input
                type="password"
                filled
                v-model="model.password"
                label="Password"
                lazy-rules
              />

               <q-select filled v-model="model.gender" :options="options" label="Gender" />

              <div>
                <q-btn label="Go Back" @click="register(false)" type="button" color="secondary"/>
                <q-btn label="Sign up" @click="signUp" type="button" color="primary" class="float-right"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import {defineComponent} from 'vue'
import { Loading, QSpinnerHourglass } from 'quasar'

export default defineComponent({
  data () {
    return {
      model: {
        username: '',
        password: ''
      },
      errorMsg: '',
      isRegister: false,
      options: ['Male', 'Female', 'Others']
    }
  },
  methods: {
    login() {
      Loading.show({
        spinner: QSpinnerHourglass,
        message: 'Loading...'
      })
      this.$store.dispatch('Auth/login', this.model)
      .then((res) => {
        if(res.response){
          Loading.hide()
          let { data } = res.response
          if(!data.success){
            this.errorMsg = data.message
          }
        } 
        else {
          Loading.hide()
          this.$router.go('/')
        }
      })
    },
    register(val = true){
      this.isRegister = val
      this.model = {}
    },
    signUp(){
      this.$store.dispatch('User/registerUser', this.model)
      .then(() => {
        this.register(false)
      })
    }
  }
})
</script>

<style>

.bg-image {
  background-image: linear-gradient(135deg, #1976D2 20%, #26A69A 80%);
}
</style>
