<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-white text-grey-8 q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="toggleLeftDrawer"
          aria-label="Menu"
          icon="menu"
        />

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn round flat>
            <q-avatar size="26px">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <q-menu persistent>
              <q-list
                separator
                style="width: 9rem"
              >
                <q-item
                  @click="logout()"
                  clickable
                  class="row justify-center items-center"
                >
                  <q-icon name="mdi-logout" class="q-pr-xs" size="sm" />
                  <q-item-section>
                    Log Out
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
        
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="250"
      :breakpoint="500"
      :overlay="$q.screen.lt.sm"
      bordered
      content-class="bg-grey-3"
    >
      <q-scroll-area class="fit">
        <q-list>
          <q-item
            v-for="(data, idx) in links"
            :to="data.to"
            clickable
            v-ripple
            :key="idx"
          >
            <q-item-section avatar>
              <q-icon :name="data.icon" />
            </q-item-section>

            <q-item-section>
              {{ data.label }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import { fabYoutube } from '@quasar/extras/fontawesome-v6'
import { mapGetters } from 'vuex'
import {
  Loading,
  QSpinnerHourglass
} from 'quasar'
export default {
  name: 'MyLayout',
  data () {
    const leftDrawerOpen = ref(false)
    const search = ref('')
    function toggleLeftDrawer () {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }
    return {
      fabYoutube,
      leftDrawerOpen,
      search,
      toggleLeftDrawer,
      links: [
        { icon: 'home', label: 'Dashboard', to: '/' },
      ],
    }
  },
  computed: {
    ...mapGetters('Auth', ['role']),
  },
  // created(){
  //   if(this.role.accessLevel == 1){
  //       this.links.push({ icon: 'person', label: 'Time Logs', to: '/logs' })
  //   }
  // },
  methods: {
    logout () {
      this.$store.dispatch('Auth/logout')
      // fully customizable
      Loading.show({
        spinner: QSpinnerHourglass,
        message: 'Logging out...'
      })
      setTimeout(() => {
        Loading.hide()
        this.$router.replace('/login')
      }, 1000)
    }
  }
}
</script>

<style lang="sass">
.YL
  &__toolbar-input-container
    min-width: 100px
    width: 55%
  &__toolbar-input-btn
    border-radius: 0
    border-style: solid
    border-width: 1px 1px 1px 0
    border-color: rgba(0,0,0,.24)
    max-width: 60px
    width: 100%
  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem
    &:hover
      color: #000
</style>