<template>
  <q-dialog
    id="dialog"
    class="create_dialog"
    v-bind="$attrs"
    v-on="$listeners"    
    :full-height="fullHeight"
    :full-width="fullWidth"
  >
    <q-card
      class="column no-wrap"
      :class="{ 'full-height': fullHeight }"
      :style="computedSize"
    >
      <q-card-section class="bg-primary text-white row justify-between">
        <div class="text-h6 q-ma-none">{{ modalTitle }}</div>
        <QButton icon="mdi-close" rounded dense flat v-close-popup />
      </q-card-section>

      <q-card-section class="q-pt-none" v-if="modalMessage">
        <p
          v-if="modalMessage !== ''"
          class="q-mb-none q-mt-md text-subtitle2"
        >
          {{ modalMessage }}
        </p>
      </q-card-section>

      <q-card-section>
        <component
          :accept="accept"
          :is="computedDynamicPath"
          @onSubmit="onSubmit($event)"
          :data="datas"
          :multiple="multiple"
        >
          <template v-slot:form-action>
            <q-card-actions>
              <div class="full-width q-mt-md row justify-end">
                <QButton type="submit" class="bg-primary text-white q-px-md q-mr-xs" flat :label="yesText" />
                <QButton color="grey-8" outline flat :label="noText" v-close-popup />
              </div>
            </q-card-actions>
          </template>
        </component>
      </q-card-section>
      
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  props: {
    accept: String,
    multiple: {
      type: Boolean,
      default: false
    },
    modalMessage: String,
    modalTitle: String,
    fullHeight: {
      type: Boolean,
      default: false
    },
    align: String,
    fullWidth: {
      type: Boolean,
      default: false
    },
    noText: {
      type: String,
      default: 'Cancel'
    },
    yesText: {
      type: String,
      default: 'Submit'
    },
    whatModule: String,
    whichComponent: String,
    size: {
      type: String,
      default: 'lg'
    },
    datas: {}
  },
  components: {
    QButton: () => import('components/buttons')
  },
  computed: {
    computedDynamicPath() {
      return () => import(`pages/${this.whatModule}/components/${this.whichComponent}`)
    },
    computedSize () {
      let size
      if (this.size && this.size.toLowerCase() === 'sm') {
        size = 'width: 350px'
      } else if (this.size && this.size.toLowerCase() === 'md') {
        size = 'width: 450px'
      } else if (this.size && this.size.toLowerCase() === 'lg') {
        size = 'width: 700px'
      } else {
        size = ''
      }
      return size
    }
  },
  methods: {
    onSubmit(e) {
      this.$emit('onSubmit', e)
    }
  }
}
</script>